@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* .sp{
    font-size:40px;
} */
.card1 {
    background-color: white;
    height: 60vh;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    font-family: "Roboto";
}

span {
    font-size: 30px;
}

.bg {
    background-color: #dac0ff;
    height: 150vh;
    padding: 10px;
}

.h1 {
    color: #690cb0;
    font-weight: bold;
    /* padding:10px; */
}

.pp {
    font-size: 40px;
}

.p1 {
    color: #3e4c59;
    font-family: "Roboto";
    margin-top: 20px;
}

.image {
    height: 50px;
    width: 50px;
}

.button1 {
    background-color: white;
    height: 40px;
    width: 80px;
    border-width: 0px;
    border-radius: 10px;
}